name: docker Publish

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:

      - name: build aand push
        uses: docker/build-push-action@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build and push Docker image
        run: |
          docker build . --tag ghcr.io/lev1992/skills-publish-docker-images/stackoverflown:main
          docker push ghcr.io/lev1992/skills-publish-docker-images/stackoverflown:main